.button-primary {
  display: inline-block;
  background: $color-primary;
  align-items: center;
  padding: 15px 45px;
  border: none;
  // border: 2px solid $color-primary;
  border-radius: 100px;
  outline: none;
  font-family: 'Georgia', serif;
  font-size: $button-font-size;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  cursor: pointer;

  &:hover,
  &:active {
    background: $color-primary-light;
  }
}

.button-secondary {
  background: transparent;
  border: 2px solid $color-primary;

  &:hover,
  &:active {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;

    &:disabled {
      background: transparent;
      border: 2px solid $color-dark-s;
    }
  }
}

.button-arrow {
  display: flex;
  align-items: center;
  padding: 22px 17px;
  width: 52px;
  height: 52px;
}

