.gallery {
  position: relative;
  width: 270px;
  overflow: hidden;
  user-select: none;
  margin-left: auto;
  margin-right: auto;

}

.gallery-line-container {
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.gallery-draggable {
  cursor: grabbing;
}

.gallery-line {
  overflow: hidden;
  touch-action: none;
}

.gallery-slide {
  min-height: 1px;
  float: left;
  overflow: hidden;
  transform: translateZ(0);

  @include _1280 {
    width: 270px;
  }
}

.gallery-slide img {
  pointer-events: none;
}