.primary-button {
  display: inline-block;
  background: $color-primary;
  align-items: center;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: $button-font-size;
  color: $color-dark-3xl;
  cursor: pointer;
}