$slider-card-img-width: 270px;
$slider-card-img-height: 270px;

.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-bottom: 20px;
  height: 435px;

  &__img {
    width: $slider-card-img-width;
    height: $slider-card-img-height;
  }

  &__heading {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  &__button {
    margin-bottom: 30px;
  }
}