.about {
  background: $color-light-xl;

  &__wrapper {
    padding-top: $mobile-wrapper-padding-top;
    padding-bottom: $mobile-wrapper-padding-bottom;

    @include _768 {
      padding-top: 80px;
      padding-bottom: 100px;
    }

    @include _1280 {
      max-width: 850px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 0 auto;
    }
  }

  &__content {
    padding-bottom: $mobile-padding-bottom;
    max-width: 300px;
    margin: auto;

    @include _768 {
      max-width: 430px;
      padding-bottom: 80px;
    }

    @include _1280 {
      padding-top: 15px;
      padding-bottom: 0;
      margin: 0;
    }
  }

  &__section-heading {
    padding-bottom: 2.5rem;
  }

  &__paragraph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: justify;
    color: $color-dark-xl;

    &:not(:last-child) {
      padding-bottom: 2.2rem;

      @include _768 {
        padding-bottom: 2.5rem;
      }
    }

    @include _768 {
      padding: 0;
      text-align: left;
    }
  }

 &__img {
  width: $mobile-img-width;
  height: 355px;
  margin: auto;

  @include _768 {
    width: 300px;
    height: 408px;
    min-width: 300px;
    margin: auto;
  }

  @include _1280 {
    margin: 0;
  }
 }
}