.donation {
  background: $color-light-l;

  &__wrapper {
    padding-top: $mobile-wrapper-padding-top;
    padding-bottom: $mobile-wrapper-padding-bottom;

    @include _768 {
      padding-top: 80px;
      padding-bottom: 100px;
    }

    @include _1280 {
      margin: 0 auto;
      max-width: 915px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: $mobile-wrapper-padding-bottom;
    max-width: 280px;

    @include _768 {
      max-width: 380px;
    }

    @include _1280 {
      margin: 0;
      padding-bottom: 0;
    }
  }

  &__section-heading,
  &__subheading,
  &__credit-card {
    padding-bottom: 2rem;
  }

  &__subheading {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
    color: $color-dark-l;

    @include _768 {
      text-align: left;
      letter-spacing: 0.06em;
      line-height: 1.7rem;
    }
  }

  &__credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 20px;

    @include _1280 {
      max-width: 350px;
      justify-content: start;
      box-sizing: border-box;
      padding-left: 15px;
    }
  }

  &__credit-card-number {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    padding-left: 15px;

    @include _768 {
      font-size: 2rem;
      line-height: 2.3rem;
    }
  }

  &__legal-info {
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-dark-m;
    text-align: justify;

    @include _768 {
      text-align: left;
    }
  }

  &__img {
    width: $mobile-img-width;
    margin: auto;

    @include _768 {
      width: 505px;
      height: 261px;
    }

    @include _1280 {
      margin: auto 0;
    }
  }
}