.donation {
  background: $color-light-l;

  &__wrapper {
    padding-top: $mobile-wrapper-padding-top;
    padding-bottom: $mobile-wrapper-padding-bottom;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: $mobile-wrapper-padding-bottom;
    max-width: 280px;
  }

  &__section-heading,
  &__subheading,
  &__credit-card {
    padding-bottom: 2rem;
  }

  &__subheading {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
    color: $color-dark-l;
  }

  &__credit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 20px;
  }

  &__credit-card-number {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    padding-left: 15px;
  }

  &__legal-info {
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-dark-m;
    text-align: justify;
  }

  &__img {
    width: $mobile-img-width;
    margin: auto;
  }
}