.footer {
  background: url('/src/assets/footer/noise_transparent.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

  &__wrapper {
    padding-top: 30px;

    @include _1280 {
      margin: 0 auto;
      padding-top: 40px;
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include _768 {
      flex-direction: row;
      justify-content: center;
      gap: 60px;
    }

    @include _1280 {
      justify-content: flex-start;
      gap: 140px;
    }
  }

  &__section-heading {
    color: $color-light-xl;
  }

  &__contacts,
  &__location {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 300px;
  }

  &__contacts {
    height: 208px;
    padding-bottom: 41px;
    align-items: center;

    @include _768 {
      padding-bottom: 60px;
      height: 234px;
      align-items: flex-start;
    }

    @include _1280 {
      padding-bottom: 40px;
    }
  }

  &__location {
    height: 220px;
    padding-bottom: 40px;

    @include _768 {
      padding-bottom: 60px;
      height: 234px;
    }

    @include _1280 {
      padding-bottom: 40px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    padding-right: 20px;
  }

  &__link-heading {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: $color-primary;
  }

  &__img {
    width: $mobile-img-width;
    display: flex;
    margin: auto;

    @include _768 {
      width: 300px;
      margin: auto;
    }

    @include _1280 {
      margin: 0;
    }
  }

  &__mobile-br {
    @include _768 {
      display: none;
    }
  }
}