$help-icon-mobile-width: 50px;
$help-icon-mobile-height: 50px;

.help {
  background: $color-light-xl;

  &__wrapper {
    padding-top: $mobile-wrapper-padding-top;
    padding-bottom: $mobile-wrapper-padding-bottom;

    @include _768 {
      margin: 0 auto;
      padding-top: 80px;
      padding-bottom: 100px;
      max-width: 768px;
    }

    @include _1280 {
      max-width: 1280px;
    }
  }

  &__section-heading {
    margin-bottom: $mobile-padding-bottom;

    @include _768 {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: auto;

    @include _768{
      max-width: 630px;
      justify-content: space-between;
      row-gap: 60px;
    }

    @include _1280{
      max-width: 1170px;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%;

    @include _768{
      width: 30%;
      max-width: 30%;
      height: 110px;
      justify-content: space-between;
    }

    @include _1280{
      width: 20%;
      max-width: 20%;
    }

    &:not(:last-child) {
      padding-bottom: 30px;

      @include _768 {
        padding-bottom: 0;
      }
    }
  }

  &__item-img {
    width: $help-icon-mobile-width;
    height: $help-icon-mobile-height;
    padding-bottom: 20px;

    @include _768 {
      width: 60px;
      height: 60px;
    }
  }

  &__item-heading {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: 0.06em;    
    color: $color-dark-l;

    @include _768 {
      font-size: 2rem;
      line-height: 2.3rem;
    }
  }
}