.pets {
  background: $color-light-l;
  
  &__wrapper {
    padding-top: $mobile-wrapper-padding-top;
    padding-bottom: $mobile-wrapper-padding-bottom;
    text-align: center;
  }

  &__slider-container {
    overflow: hidden;
    width: 270px;
    margin: 0 auto;
  }

  &__slider-track {
    display: flex;
    transition: .3s;
  }

  &__slider-item {
    min-width: 270px;
    margin-bottom: 20px;
  }

  &__section-heading {
    padding-bottom: $mobile-padding-bottom;
  }

  &__slider-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 42px;
    width: 184px;
  }

  &__arrow-img {
    &:disabled {
      fill: $color-dark-s;
    }
  }
}