$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$slider-text-color: #000000;

$p-font-size: 1.5rem;
$p-line-height: 2.4rem;
$button-font-size: 1.7rem;

$mobile-wrapper-padding: 1.0rem;







