@font-face {
  font-family: 'Georgia';
  src: local("Georgia Italic"), local("Georgia-Italic"), url("../assets/fonts/GeorgiaItalic.woff2") format("woff2"), url("../assets/fonts/GeorgiaItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: local("Georgia Bold"), local("Georgia-Bold"), url("../assets/fonts/Georgia-Bold.woff2") format("woff2"), url("../assets/fonts/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Georgia';
  src: local("Georgia"), url("../assets/fonts/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Arial';
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("../assets/fonts/Arial-ItalicMT.woff2") format("woff2"), url("../assets/fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Arial';
  src: local("Arial"), local("ArialMT"), url("../assets/fonts/ArialMT.woff2") format("woff2"), url("../assets/fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html {
  font-size: 10px;
  line-height: 10px;
  color: #4C4C4C; }

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Georgia', serif;
  font-style: normal;
  font-weight: 400; }

p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.wrapper {
  padding-right: 1rem;
  padding-left: 1rem; }

.rotate {
  transform: rotate(180deg); }

.button-primary {
  display: inline-block;
  background: #F1CDB3;
  align-items: center;
  padding: 15px 45px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-family: 'Georgia', serif;
  font-size: 1.7rem;
  line-height: 2.2rem;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer; }
  .button-primary:hover, .button-primary:active {
    background: #FDDCC4; }

.button-secondary {
  background: transparent;
  border: 2px solid #F1CDB3; }
  .button-secondary:hover, .button-secondary:active {
    background: #FDDCC4;
    border: 2px solid #FDDCC4; }

.button-arrow {
  display: flex;
  align-items: center;
  padding: 22px 17px;
  width: 52px;
  height: 52px; }

.section-heading {
  font-size: 2.5rem;
  line-height: 3.2rem;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454; }

.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin-bottom: 20px;
  height: 435px;
  background: #FAFAFA; }
  .slider-card__img {
    width: 270px;
    height: 270px; }
  .slider-card__heading {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: #545454; }
  .slider-card__button {
    margin-bottom: 30px; }

.header {
  background: url("/src/assets/startscreen/start-screen-gradient-background.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .header__wrapper {
    padding-top: 30px; }
  .header__logo-and-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__logo-heading {
    margin-bottom: 10px;
    color: #F1CDB3;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em; }
  .header__logo-subheading {
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    color: #FFFFFF; }
  .header__burger {
    padding: 0 43px; }
  .header__startscreen {
    padding-top: 6rem; }
  .header__startscreen-content {
    margin-bottom: 105px; }
  .header__startscreen-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 4.2rem; }
  .header__startscreen-subheading {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
    color: #CDCDCD;
    margin-bottom: 4.2rem; }
  .header__button-wrapper {
    text-align: center; }
  .header__startscreen-img {
    display: flex;
    margin-left: auto;
    width: 260px; }

.about {
  background: #FFFFFF; }
  .about__wrapper {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem; }
  .about__content {
    padding-bottom: 4.2rem; }
  .about__section-heading {
    padding-bottom: 2.5rem; }
  .about__paragraph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: justify;
    color: #4C4C4C; }
    .about__paragraph:not(:last-child) {
      padding-bottom: 2.2rem; }
  .about__img {
    width: 260px;
    height: 355px;
    margin: auto; }

.pets {
  background: #F6F6F6; }
  .pets__wrapper {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem; }
  .pets__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 270px; }
  .pets__section-heading {
    padding-bottom: 4.2rem; }
  .pets__slider-buttons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 184px; }
  .pets__slider-cards {
    margin-bottom: 40px; }

.help {
  background: #FFFFFF; }
  .help__wrapper {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem; }
  .help__section-heading {
    margin-bottom: 4.2rem; }
  .help__items {
    display: flex;
    flex-wrap: wrap; }
  .help__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%; }
    .help__item:not(:last-child) {
      padding-bottom: 30px; }
  .help__item-img {
    width: 50px;
    height: 50px;
    padding-bottom: 20px; }
  .help__item-heading {
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454; }

.donation {
  background: #F6F6F6; }
  .donation__wrapper {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem; }
  .donation__content {
    padding-bottom: 4.2rem; }
  .donation__section-heading, .donation__subheading, .donation__credit-card {
    padding-bottom: 2rem; }
  .donation__subheading {
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: center;
    color: #545454; }
  .donation__credit-card {
    display: flex;
    background-color: #F1CDB3;
    padding: 13px;
    border-radius: 9px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("/src/assets/donation/credit-card.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box; }
  .donation__credit-card-number {
    font-size: 1.5rem;
    line-height: 1.7rem;
    letter-spacing: 0.06em;
    color: #545454;
    padding-left: 45px; }
  .donation__legal-info {
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #B2B2B2;
    text-align: justify;
    padding: 0 10px; }
  .donation__img {
    width: 260px;
    margin: auto; }

.footer {
  background: url("/src/assets/footer/footer-gradient-background.png"); }
  .footer__wrapper {
    padding-top: 30px; }
  .footer__section-heading {
    color: #FFFFFF; }
  .footer__contacts, .footer__location {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__contacts {
    height: 208px;
    padding-bottom: 41px;
    align-items: center; }
  .footer__location {
    height: 220px;
    padding-bottom: 40px; }
  .footer__link {
    display: flex;
    align-items: center; }
  .footer__icon {
    padding-right: 20px; }
  .footer__link-heading {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: #F1CDB3; }
  .footer__img {
    width: 260px;
    display: flex;
    margin: auto; }
